asgiref==3.11.1
bleach==6.4.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==49.0.0
Django==5.2.15
django-appconf==1.2.0
django-cryptography-django5==2.2
djangorestframework==3.17.1
gunicorn==26.0.0
idna==3.18
markdown==3.10.2
packaging==26.2
PlexAPI==4.18.1
pycparser==3.0
python-dotenv==1.2.2
requests==2.34.2
sqlparse==0.5.5
urllib3==2.7.0
whitenoise==6.12.0
pywebpush==2.3.0
