{% extends 'bookclub/base.html' %}

{% block title %}Welcome to Book Club{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Book Club!</h1>
    <p class="lead">Join your friends in discussions about your favorite books.</p>
    <hr class="my-4">
    <p>Please login to join the community.</p>
    <div class="btn-group">
        <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login</a>
        <div class="ms-2 d-flex align-items-center">
            <span class="text-muted">New users need an invitation to join.</span>
        </div>
    </div>
</div>
{% endblock %}