{% extends 'bookclub/base.html' %}
{% load static %}
{% load bookclub_extras %}

{% block title %}Manage Promoted Editions - {{ book.title }}{% endblock %}

{% block content %}
<div class="container my-4">
    {% include 'bookclub/includes/promoted_editions/header.html' %}
    
    {% if has_kavita %}
        {% include 'bookclub/includes/promoted_editions/kavita_status.html' %}
    {% endif %}
    
    {% if has_plex %}
        {% include 'bookclub/includes/promoted_editions/plex_status.html' %}
    {% endif %}

    {% if editions %}
        {% include 'bookclub/includes/promoted_editions/editions_list.html' %}
        
        {% if kavita_promoted or plex_promoted %}
            {% include 'bookclub/includes/promoted_editions/clear_promotions.html' %}
        {% endif %}
    {% else %}
        {% include 'bookclub/includes/promoted_editions/no_editions.html' %}
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'book_detail' book.id %}" class="btn btn-secondary">
                Back to Book
            </a>
        </div>
    </div>
</div>

{% if editions %}
<!-- Load the edition filter JavaScript -->
<script src="{% static 'bookclub/js/edition-filter.js' %}"></script>
{% endif %}
{% endblock %}