{% extends 'bookclub/base.html' %}
{% load static %}

{% block title %}Profile Settings{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <!-- Password Settings -->
        {% include "bookclub/includes/profile/password_change_section.html" %}
        
        <!-- API Key Settings -->
        {% include "bookclub/includes/profile/api_settings.html" %}
        
        <!-- Notification Settings -->
        {% if push_notifications_enabled %}
            {% include "bookclub/includes/profile/notification_settings.html" %}
        {% endif %}
        
        <!-- Developer Options -->
        {% include "bookclub/includes/profile/developer_options.html" %}
    </div>
</div>

{% block extra_js %}
{% if push_notifications_enabled %}
<script type="module" src="{% static 'bookclub/js/profile-settings.js' %}"></script>
{% endif %}
{% endblock %}
{% endblock %}