{% extends 'bookclub/base.html' %}
{% load static %}

{% block title %}Update Progress - {{ book.title }}{% endblock %}

{% block extrahead %}
<meta name="book-pages" content="{{ book_pages|default:'' }}">
<meta name="book-audio-seconds" content="{{ book_audio_seconds|default:'' }}">
<meta name="edition-pages" content="{{ edition_pages|default:'' }}">
<meta name="edition-audio-seconds" content="{{ edition_audio_seconds|default:'' }}">
<meta name="kavita-edition-pages" content="{{ kavita_promoted_edition.pages|default:'' }}">
<meta name="plex-edition-audio-seconds" content="{{ plex_promoted_edition.audio_seconds|default:'' }}">
{% endblock %}

{% block content %}
<div class="container my-4">
    {% include 'bookclub/includes/progress/header.html' %}
    
    {% include 'bookclub/includes/progress/edition_info.html' %}
    
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Update Progress</h5>
                </div>
                <div class="card-body">
                    {% include 'bookclub/includes/progress/update_form.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="module" src="{% static 'bookclub/js/manual-progress.js' %}"></script>
{% endblock extra_js %}