/* ===========================
 * Global Base Styles
 * =========================== */
 body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

.container {
    padding-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
    font-weight: 600;
}

/* Utility classes */
.mr-2 {
    margin-right: 0.5rem;
}