/* ===========================
 * Dark Mode Breadcrumb Styles
 * =========================== */
.dark-mode .breadcrumb {
  background-color: transparent;
}

.dark-mode .breadcrumb-item,
.dark-mode .breadcrumb-item a {
  color: #9e9e9e;
}

.dark-mode .breadcrumb-item.active {
  color: #e1e1e1;
}

.dark-mode .breadcrumb-item+.breadcrumb-item::before {
  color: #9e9e9e;
}